<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCs9K7I5DWcIF2adCJmJXjM8_ZQwjIe-kM</string>
	<key>GCM_SENDER_ID</key>
	<string>45670951544</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sametkorkmaz.MovieApp-Programmatic</string>
	<key>PROJECT_ID</key>
	<string>movieappprogrammatic</string>
	<key>STORAGE_BUCKET</key>
	<string>movieappprogrammatic.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:45670951544:ios:c65a302c600d962ea3db8d</string>
</dict>
</plist>
